<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row ">
      <div class="8u">
        <div class="row collapse-at-2">
          <section class="4u">
            <h3>Support</h3>
            <ul class="links">
              <li><a href="https://groups.google.com/forum/?fromgroups#!forum/project-fifo">Mailing list</a></li>
              <li><a href="http://webchat.freenode.net/?channels=project-FiFo&uio=d4">IRC #project-fifo</a></li>
              <li><a href="https://jira.project-fifo.net/">Bug tracker</a></li>
              <li><a href="https://twitter.com/project_fifo">Twitter</a></li>
            </ul>
          </section>
          <section class="4u">
            <h3>Acknowledgments</h3>
            <ul class="links">
              <li><a href="http://smartos.org/">Joyent SmartOS</a></li>
              <li><a href="https://github.com/basho/riak_core">Basho Riak Core</a></li>
              <li><a href="http://www.erlang.org/">Erlang</a></li>
              <li><a href="http://leo-project.net/leofs/">LeoFS</a></li>
            </ul>
          </section>
          <section class="4u">
            <h3>Disclaimer</h3>
            <ul class="links">
              <li><a href="disclaimer.html">Disclaimer</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- Icons -->
  <ul class="icons">
    <li><a href="https://twitter.com/project_fifo" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://github.com/project-fifo" class="icon fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="https://plus.google.com/+ProjectfifoNetHome/posts" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
  </ul>

  <!-- Copyright -->
  <div class="copyright">
    <ul class="menu">
      <li>&copy; Project FiFo UG (haftungsbeschr&auml;nkt) 2015</li><a href="http://opensource.org/licenses/CDDL-1.0"> CDDL</a>
    </ul>
  </div>

</div>
