<!-- Footer -->
<div id="footer">
  <div class="container">

    <div class="row ">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//project-fifo.us11.list-manage.com/subscribe/post?u=914914f98122024f6a5f85e19&amp;id=0352e71056" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Subscribe to news and update announcements</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_914914f98122024f6a5f85e19_0352e71056" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>

    <div class="row ">
      <div class="8u">
        <div class="row collapse-at-2">
          <section class="4u">
            <h3>Support</h3>
            <ul class="links">
              <li><a href="https://groups.google.com/forum/?fromgroups#!forum/project-fifo">Mailing list</a></li>
              <li><a href="http://webchat.freenode.net/?channels=project-FiFo&uio=d4">IRC #project-fifo</a></li>
              <li><a href="https://gitlab.com/Project-FiFo/FiFo/help">Bug tracker</a></li>
              <li><a href="https://twitter.com/project_fifo">Twitter</a></li>
            </ul>
          </section>
          <section class="4u">
            <h3>Acknowledgments</h3>
            <ul class="links">
              <li><a href="http://smartos.org/">Joyent SmartOS</a></li>
              <li><a href="https://github.com/basho/riak_core">Basho Riak Core</a></li>
              <li><a href="http://www.erlang.org/">Erlang</a></li>
              <li><a href="http://leo-project.net/leofs/">LeoFS</a></li>
            </ul>
          </section>
          <section class="4u">
            <h3>Disclaimer</h3>
            <ul class="links">
              <li><a href="disclaimer.html">Disclaimer</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- Icons -->
  <ul class="icons">
    <li><a href="https://twitter.com/project_fifo" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://github.com/project-fifo" class="icon fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="https://plus.google.com/+ProjectfifoNetHome/posts" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
  </ul>

  <!-- Copyright -->
  <div class="copyright">
    <ul class="menu">
      <li>&copy; Project FiFo UG (haftungsbeschr&auml;nkt) {{ site.time | date_to_string }}</li><a href="http://opensource.org/licenses/CDDL-1.0"> CDDL</a>
    </ul>
  </div>

</div>
